proxmox_api_url = "http://<host>:<port>/api2/json"
proxmox_api_token_id = "<token_id>"
proxmox_api_token_secret = "<token_secret>"

http_server_host = "192.168.X.X"
http_server_port = 8000

username = "<username>"
password = "<password>"
root_password = "<root_password"
ssh_public_key = "<ssh_public_key>"